<%- include('../partials/header.ejs') %>


    <!-- Main -->
    <main class="container lg:max-w-5xl flex items-center grow flex-col md:flex-row mx-auto my-32 md:mt-12 md:mb-24 md:px-4">
      <div class="flex flex-col justify-center w-full bg-slate-200 border-y md:border border-slate-900 sm:rounded-3xl p-4 md:p-12 shadow-xl">
        <!-- Event Header -->
        <div class="flex items-center justify-center">
          <div class="grow text-center">
            <strong class="text-3xl">Trade is War - Part 1 Meeting</strong>
          </div>
          <div class="ml-4 md:ml-0">
            <i class="fa-regular fa-pen-to-square text-green-500 hover:text-green-900 pr-3"></i>
            <i class="fa-solid fa-trash text-red-500 hover:text-red-900"></i>
          </div>
        </div>
        <!-- Event Info -->
        <div class="flex flex-col md:flex-row mt-10">
          <img src="assets/book.jpg" alt="'Trade is War' by Yash Tandon" class="rounded-xl shadow-lg">
          <div class="flex grow flex-col justify-center space-y-10 mt-12 md:mt-0 md:ml-12">
            <p class="serif text-2xl"><strong>Host</strong>: Jacob Roder</p>
            <p class="serif text-2xl"><strong>Date & Time</strong>: 02/08/23, 4:30-5:30 PM</p>
            <p class="serif text-2xl"><strong>Location</strong>: CHHS 380</p>
          </div>
        </div>
      </div>
      
    </main>

    <%- include('../partials/footer.ejs') %>


    