    <!-- Footer -->
    <footer class="flex items-center bg-tan fixed h-12 bottom-0 w-full">
      <div class="flex md:mx-4 w-full">
        <!-- Copyright -->
        <div class="flex items-center ml-3 md:ml-5 md:w-2/12">
          <h3 class="text-slate-50 text-xs md:text-lg mr-3 md:mr-10">&copyLet's Read</h3>
        </div>

        <!-- More Info -->
        <div class="flex grow items-center justify-center">
          <div class="flex justify-end md:w-6/12">
            <a href="/about">
              <h3 class="text-slate-50 text-sm md:text-lg hover:text-sky-300 mx-3">ABOUT</h3>
            </a>
          </div>
          <div class="flex justify-start md:w-6/12">
            <a href="/contact">
              <h3 class="text-slate-50 text-sm md:text-lg hover:text-sky-300 mx-3">CONTACT</h3>
            </a>
          </div>
        </div>
        
        <!-- Socials -->
        <div class="flex mx-3 md:mx-4 items-center justify-end md:w-2/12">
          <a href="#"><i class="fa-brands fa-instagram text-slate-50 fa-sm md:text-3xl mr-3 md:mx-5 hover:text-sky-300"></i></a>
          <a href="#"><i class="fa-brands fa-twitter text-slate-50 fa-sm md:text-3xl mr-3 md:mx-5 hover:text-sky-300"></i></a>
          <a href="#"><i class="fa-brands fa-facebook text-slate-50 fa-sm md:text-3xl md:mx-5 hover:text-sky-300"></i></a>
        </div>
      </div>
    </footer>
  </div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="/javascript/main.js"></script>  
</body>
</html>