<%- include('./partials/header.ejs') %>

    <!-- Main -->
    <main class="container lg:max-w-5xl flex items-center grow flex-col md:flex-row text-center md:text-left mx-auto my-32 md:mt-0 md:mb-24 px-4">
      <!-- Text Header -->
      <div class="py-10 md:py-0 md:mr-12">
        <strong class="text-5xl md:text-6xl">Let's Read Book Club</strong>
      </div>
      <!-- Text Content -->
      <div class="md:ml-12">
        <p class="serif text-2xl">Welcome to the Let's Read Book Club where you can read a variety of books with others!</p>
        <br>
        <p class="serif text-2xl">Go to the Events page to see upcoming events and find out more info!</p>
        <br>
        <!-- More Info Button -->
        <div class="text-center pt-5">
          <a href="/events/" class="bg-purple-200 rounded-full border border-slate-900 hover:bg-sky-200 p-5 px-10 mt-5">More Info!</a>
        </div>
      </div>

    </main>

    <%- include('./partials/footer.ejs') %>