<%- include('./partials/header.ejs') %>
    <!-- Main -->
    <main class="container lg:max-w-4xl mx-auto grow">
      <div class="flex justify-center bg-light h-3/5 mt-16 mb-32 border-y sm:border border-slate-900 shadow-xl sm:rounded">
        <div class="flex flex-col justify-center align-center bg-white border-2 border-slate-300 rounded-xl shadow-lg m-3">
          <!-- Text Header -->
          <div class="flex justify-center my-10">
            <strong class="text-slate-900 text-3xl text-center">Contact Us!</strong>
          </div>
          <div class="text-center mx-12">
            <h1 class="sans text-2xl">For any questions or inquiries, email us at <i>LetsReadBooks@gmail.com</i></h1> 
            <h1 class="sans text-2xl">Check us out on social media to stay up to date on recent changes!</h1>

            <div class="flex mx-3 md:mx-4 items-center justify-center my-12">
              <div class="flex flex-col gap-y-6">
                <a href="#"><i class="fa-brands fa-instagram fa-2xl mr-3 md:mx-5 hover-blue"></i></a>
                <a href="#"><i class="fa-brands fa-twitter fa-2xl mr-3 md:mx-5 hover-blue"></i></a>
                <a href="#"><i class="fa-brands fa-facebook fa-2xl md:mx-5 hover-blue"></i></a>
              </div>
              <div class="flex flex-col text-left gap-y-6">
                <h1>Instagram</h1>
                <h1>Twitter</h1>
                <h1>Facebook</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>
