<%- include('./partials/header.ejs') %>

    <!-- Main -->
    <main class="home bg-light container lg:max-w-7xl my-32 md:mt-0 px-4 mx-auto flex flex-col justify-center grow">

      <div class="flex items-center flex-col md:flex-row text-center md:text-left pb-16">
        <!-- Text Header -->
        <div class="py-10 md:py-0 md:mr-12 md:ml-24">
          <strong class="text-5xl md:text-6xl">Let's Read Book Club</strong>
        </div>
        <!-- Text Content -->
        <div class="md:ml-12 md:mr-24 flex flex-col items-center">
          <p class="sans text-2xl py-4">Welcome to the Let's Read Book Club where you can find groups to read a variety of books!</p>
          <p class="sans text-2xl py-4">Go to the Events page to see upcoming events and find out more info!</p>
          <!-- More Info Button -->
        </div>
      </div>

      <div class="text-center pt-5 mt-3">
        <a href="/events/" class="bg-green rounded-full border border-slate-900 hover-bg-blue p-5 px-10 mt-5">More Info!</a>
      </div>

    </main>

    <%- include('./partials/footer.ejs') %>